<a href="https://colab.research.google.com/github/benequith/Linear-Regression/blob/master/Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Multivariate Linear Regression

Name: Soumyadip Ghosh <br>
Stream: CSE-A <br>
Roll Number: 1951007

Importing the necessary libraries for working

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

Loading the dataset

In [ ]:
df= pd.read_excel('/content/Multivariate_Regression_data.xlsx')
print(df.head())

         X1         X2          Y
0  1.885940   3.556768  24.466473
1  4.103744  16.840713  93.852058
2  0.911818   0.831413   9.126872
3  0.379908   0.144330   6.863085
4  1.057826   1.118996  12.850449

Checking for any NULL values for Feature Engineering

In [ ]:
df.isnull().sum()

X1    0
X2    0
Y     0
dtype: int64

Checking for statistics of the data for getting the total samples and relevant information

In [ ]:
df.describe()

               X1          X2           Y
count  120.000000  120.000000  120.000000
mean     2.436326    7.885162   46.402454
std      1.402090    6.889864   35.423498
min      0.008696    0.000076    2.453955
25%      1.201271    1.443868   12.661124
50%      2.567666    6.592913   41.694937
75%      3.544140   12.560947   69.890880
max      4.998384   24.983839  133.272302

Seperating the features from the target in the Dataframe

In [ ]:
X= df.drop('Y', axis= 1)
Y= df['Y']

Splitting the data between Train and Test sets

In [ ]:
X_train, X_test, Y_train, Y_test= train_test_split(X,Y, test_size= 0.2, random_state= 2)

In [ ]:
m= X_train.shape[0]
n= X_train.shape[1]

print("Number of samples in train test: {}".format(m))
print("Number of features in train test: {}".format(n))

Number of samples in train test: 96
Number of features in train test: 2

Adding a column full of 1's to the data frame to represent w0 value

In [ ]:
X_train_t= np.c_[np.ones((X_train.shape[0], 1)),X_train]
X_test_t= np.c_[np.ones((X_test.shape[0], 1)),X_test]

We know that the biases are obtained by: <br>
W= (X transpose * X)^ -1 * (X transpose) * Y

In [ ]:
w= np.matmul(np.linalg.inv(np.matmul(X_train_t.T,X_train_t)), np.matmul(X_train_t.T,Y_train))

In [ ]:
print("The coefficients / biases of the Features are:")
print(w)

The coefficients / biases of the Features are:
[3.19888171 3.0941673  4.5213886 ]

In [ ]:
Y_pred= np.matmul(X_test_t,w)
mse= np.sum((Y_pred- Y_test)**2)/ Y_test.shape[0]
print("The Mean Squared Error is {}".format(mse))

The Mean Squared Error is 1.3811117634562635

In [ ]:
sst= np.sum((Y_pred- Y_test.mean())**2)/ Y_test.shape[0]
R_squared= 1- (mse/sst)
print("R-Squared score of the model: {}".format(R_squared))

R-Squared score of the model: 0.9986024381240254